@import "../../styles/variables.scss";


.list-item {
  display: inline-block;
  overflow: hidden;
  margin: 10px 0;
  width: $phoneContentCol;

  border: 1px solid $paleGrey;
  background-color: $nearWhite;

  font-family: $ffSerif;
  font-style: italic;
  color: $blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:nth-child(odd) {
    margin-right: 20px;
  }

  @media (min-width: $tablet) {
    width: 308px;
  }
  @media (min-width: $desktop) {
    width: 468px;
  }

  .product-img {
    float: left;
    padding: 8px;
    height: 48px;
    border-right: 1px solid $paleGrey;
    background-color: #fff;
  }

  .product-name {
    position: relative;
    top: 23px;
    left: 12px;
  }
}