body, html {
  margin: 0;
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  color: #272727;
  padding-bottom: 32px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.125em 0;
  overflow-wrap: break-word;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 800; }

h1 {
  letter-spacing: -0.9pt;
  font-size: 2.5em; }

h2 {
  font-size: 1.9em; }

section {
  display: table;
  margin: 24px 0; }

p, pre {
  line-height: 1.333;
  margin: 0.45em 0;
  text-align: left; }

p {
  hyphens: auto;
  word-break: normal; }

a {
  text-decoration: none;
  color: #5474dc; }
  a:hover {
    text-decoration: underline; }

header {
  background: #272727;
  color: #fff;
  padding: 16px 0 8px 0;
  overflow: hidden;
  margin-bottom: 32px; }
  header .title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 30pt;
    line-height: 1; }
  header .subtitle {
    position: relative;
    top: -8px;
    font-family: "Poly", "Times New Roman", Times, serif;
    font-style: italic;
    color: #b5b5b5; }
