@import "../../styles/variables.scss";

.wishlist {
  display: block;
  padding: 16px 0 32px;

  .loading-display {
    vertical-align: middle;
    margin: 16px 0;
    height: 32px;

    .icon, .label {
      float: left;
    }

    .label {
      padding: 10px;
      font-weight: $fwSemiBold;
    }
  }

  .wishlist-cta-container {
    position: relative;
    text-align: right;

    .wishlist-cta {
      margin-top: 32px;
    }
  }
}