//===========/----------------------------------------------
//  [_IMP]  /  Imports
//=========/------------------------------------------------

@import "../../node_modules/jansensan-stylesheets/src/sass/common/colors.scss";
@import "../../node_modules/jansensan-stylesheets/src/sass/common/fonts.scss";

@import "variables.scss";


//===========/----------------------------------------------
//  [_CSS]  /  CSS
//=========/------------------------------------------------

body, html {
  margin: 0;
  background: #fff;
  font-family: $ffSansSerif;
  color: $nearBlack;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.125em 0;
  overflow-wrap: break-word;
  line-height: 1;
  font-family: $ffHeading;
  font-weight: $fwExtraBold;
}

h1 {
  letter-spacing: -0.9pt;
  font-size: 2.5em;
}

h2 {
  font-size: 1.9em;
}

section {
  display: table;
  margin: 24px 0;
}

p, pre {
  line-height: 1.333;
  margin: 0.45em 0;
  text-align: left;
}

p {
  hyphens: auto;
  word-break: normal;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}

header {
  background: $nearBlack;
  color: #fff;
  padding: 16px 0 8px 0;
  overflow: hidden;
  margin-bottom: 32px;

  .title {
    font-family: $ffHeading;
    font-weight: $fwExtraBold;
    font-size: 30pt;
    line-height: 1;
  }

  .subtitle {
    position: relative;
    top: -8px;
    font-family: $ffSerif;
    font-style: italic;
    color: $paleGrey;
  }
}

footer {
  overflow: hidden;
  margin-top: 64px;
  padding: 32px 0 48px 0;
  background: $nearBlack;
  color: #fff;

  .title {
    line-height: 1;
    font-family: $ffHeading;
    font-weight: $fwExtraBold;
    font-size: 22pt;

    @media (min-width: $phone) {
      font-size: 22pt;
    }
    @media (min-width: $tablet) {
      font-size: 30pt;
    }
  }

  .description {
    font-family: $ffSerif;
    font-style: italic;
    font-size: 10.5pt;
    letter-spacing: -0.5pt;
    color: $paleGrey;
  
    @media (min-width: $tablet) {
      padding-bottom: 16px;
      font-size: 13pt;
      letter-spacing: 0pt;
    }
  }

  .column {
    position: relative;
    float: left;
    width: 50%;

    &.sections {
      @media (min-width: $tablet) {
        width: 17%;
      }
      @media (min-width: $desktop) {
        width: 25%;
      }
    }

    &.code-libs {
      display: none;

      @media (min-width: $tablet) {
        display: block;
        width: 24%;
      }
      @media (min-width: $desktop) {
        width: 25%;
      }
    }

    &.other-projects {
      display: none;

      @media (min-width: $tablet) {
        display: block;
        width: 26%;
      }
      @media (min-width: $desktop) {
        width: 25%;
      }
    }

    &.contact {
      @media (min-width: $tablet) {
        width: 33%;
      }
      @media (min-width: $desktop) {
        width: 25%;
      }
    }
  }

  .heading {
    font-family: $ffHeading;
    font-weight: $fwExtraBold;
    text-transform: uppercase;
    color: $paleGrey;
  }

  ul {
    padding: 0;
    margin: 0 0 0 16px;

    @media (min-width: $tablet) {
      margin: 0 0 0 8px;
    }
    @media (min-width: $desktop)
    {
      margin: 0 0 0 16px;
    }
  }

  li {
    padding: 0;
    margin: 0.45em 0;
    list-style: none;
    font-family: $ffSerif;
    font-style: italic;
    line-height: 1.125;

    a {
      color: #fff;
    }
  }
}

.content {
  display: table;
}

.centered {
  position: relative;
  margin: 0 auto;
  width: 960px;
}