@import "../../node_modules/jansensan-stylesheets/src/sass/common/colors.scss";
@import "../../node_modules/jansensan-stylesheets/src/sass/common/fonts.scss";

// breakpoints
$phone: 519px;
$tablet: 768px;
$desktop: 960px;
$largeDesktop: 1080px;
